.rounded-border {
    border-radius: 5px;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

.avatar {
    width: 40%;
    border-radius: 50%;
}

.text-muted {
    color: #6c757d;
}


.btn {
    display: block;
    background-color: orange;
    color: white;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
}

.btn:hover {
    opacity: 0.8;
}

button {
    outline: none;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
}

th {
    color: #5E6977;
}