@import 'common.css';

/** Products List */

.products-list__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    gap: 10px;
}


.products-list__title {
    color: #e6670d;
    padding-bottom: 15px;
}


@media all  and (max-width: 991px) {
    
    .products-list__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}


@media all  and (max-width: 768px) {
    
    .products-list__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (max-width: 575px) {

    .products-list__items {
        display: block;
    }
}